{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>{%block title%}  {%endblock%}</title>
    <!--Tab Icon-->
    <link rel="icon" type="image/x-icon" href="{% static '/imgs/FC_ICON.ico'%}">
    <!-- font icons -->
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css'%}">
    <!-- Bootstrap + Steller  -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/meyawo1.css'%}">
    <!--CSS Bootstrap-->
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <!-- Page Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow mb-3">
        <div class="container">
           <a class="navbar-brand" href="{%url 'admin-dashboard'%}">Admin Panel</a>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto"> 
                 <li class="nav-item">
                    <a class="nav-link" href="{%url 'view-customer'%}">Customer</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{%url 'admin-view-booking'%}">View Orders</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{%url 'admin-products'%}">Manage Products</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link" href="{%url 'admin-materials'%}">Manage Materials</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{%url 'admin-analytics'%}">Manage Purchase Data</a>
               </li>
                 <li class="nav-item">
                  <a class="nav-link" href="{%url 'admin-graphs-products'%}">Manage Business</a>
               </li>
                 <li class="nav-item">
                    <a href="/logout" class="ml-4 mt-1 btn btn-light btn-sm">Logout</a>
                 </li>
              </ul>                       
           </div>
        </div>
     </nav>
   



    {%block content%}


    {% endblock %}




	<!-- core  -->
    <script src="{%static '/vendors/jquery/jquery-3.4.1.js'%}"></script>
    <script src="{%static '/vendors/bootstrap/bootstrap.bundle.js'%}"></script>
    
    <!-- bootstrap 3 affix -->
    <script src="{%static '/vendors/bootstrap/bootstrap.affix.js'%}"></script>
    <!-- Meyawo js -->
    
    <script src="{% static '/js/meyawo.js'%}"></script>

    <!--JS Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>
</html>
