{% extends 'admin-base.html' %}
{% load static %}
{% block content %}


<head>
 
  <style media="screen">
    .float{
      position:fixed;
      width:70px;
      height:70px;
      bottom:60px;
      right:60px;
      background-color:#212529;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      box-shadow: 5px 5px 5px #505050;
    }

.my-float{
	margin-top:22px;
}
.fa{
  padding: 0em 0.5em;
}
  </style>
</head>


<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h2 class="text-dark">Materials</h2>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
      <thead>
        <tr>
          <th>Qty</th>
          <th>Name</th>
          <th>Unit</th>
          <th>Price</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>

      </thead>
      {% for m in Materials %}
    {% if m %}
      <tr>
        <td> {{m.qty}}</td>
        <td> {{m.name}}</td>
        <td>{{m.unit}}</td>
        <td>{{m.price}}</td>
        <td>{{m.description}}</td>
        <td>
          <div class="container" margin="40px">
            <a class="btn btn-primary rounded btn-xs" href="{% url 'update-materials' m.id  %}">Edit<span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-danger rounded btn-xs" href="{% url 'delete-materials' m.id %}">Delete<span class="glyphicon glyphicon-trash"></span></a>
          </div>
          </td>
      </tr>
      {%else%}
      <br><br><br>
      <h1>No Products!!</h1>
      {% endif %}
      {% endfor %}
    </table>
    
  </div>
</div>
<!-- add product floating button -->
<a href="/admin-add-materials" class="float">
<i class="fa fa-plus my-float"></i>
</a>
{% endblock content %}
