{% extends 'customer-navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

  <style type="text/css">
.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}

/* Create two equal columns that floats next to each other */
.order_column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.order_row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
{%if product_in_cart%}
<form method="post">
  {% csrf_token %}
  <hr><h1 class="text-center">Confirm Order</h1><hr><br>
  <div class="order_row">
	<div class="order_column"> 
		<table>
		<h1>Your Orders: </h1>
		<thead>
		</thead>
		{%for p in Products%}
		{%if p%}
		<tr>
			<th>
				<img src="{{p.product_img.url}}" alt="order" height="150px" width="150px">
			</th>
			<th><h5 class="text-secondary"> (₱ {{p.price}}) </h5></th>
			<th><h6 class="text-secondary">{{p.name}}</h6></th>
			
		</tr>
		<tr>
			<td></td>
		</tr>
		{%else%}
		{%endif%}
		{%endfor%}
		</table>
		<hr><br>	
		<br>
		
		<div class="container bg-color-primary">
			<h2>Billing Breakdown: </h2>
			{{order.date}}
		<table>
			<tr>
				<th>Product Name</th>
				<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product Price</th>
			</tr>
			{%for prd in Products%}
			
			{%if prd%}
			<tr>
				
				<th class="text-left">
					<p> <span>{{prd.name}}  </span> </p> 
				</th>
				<th class="text-left">
					<p class="text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(₱ {{prd.price}}) </p> 
				</th>

			</tr>
			<tr>
			</tr>
			
			{%else%}
			{%endif%}
			{%endfor%}
			
		</table>
		<p>VAT:  12 % | {{vat}}</p>
		<p>Shipping Fee:  {{customer.region_text}} | ₱ {{shipping_fee}}</p>
		</div>
		<hr>
		<div class="container bg-color-primary">

		<p>Total: ₱{{total}}</p>
		<p>With VAT: ₱{{with_vat}}0</p>
		<p>Total Price: ₱{{total_price}}0</p>
		</div>
		<hr>
		<div>
			<h3>Shipping Address Fee Reference:</h3>
			<p>
				<hr><h4 class="text-secondary">Price (300): </h4 > NCR <br> Region 1 <br> Region 2 <br> Region 3 <br> Region 4A <br> Region 5 <br>   <br><hr>
				<h4 class="text-secondary">Price (400):</h4> Region 6 <br> Region 7 <br> Region 8 <hr>
				<h4 class="text-secondary">Price (500):</h4> Region 9 <br> Region 10<br> Region 11 <br> Region 12 <br>Region 13 <br>Region CAR <br> Region ARMM <br>  

			</p>

		</div>
		<hr>
	</div>
	<div class="order_column">
		<h1>Customer Info: </h1>
		<h5 class="text-secondary">  <label>Username: <span class=""></span> {{request.user}}</label> </h5>
		<h5 class="text-secondary">  <label>Full Name: <span class=""></span> {{customer.get_name}}</label> </h5>
    	<h5 class="text-secondary">  <label>Email: <span class=""></span> {{customer.email}}</label> </h5>
		<h5 class="text-secondary">  <label>Mobile: <span class=""></span> {{customer.mobile}}</label> </h5>
		<h5 class="text-secondary"> <label>Shipping Address: <span class=""></span></label> </h5>
		<h6 class="text-secondary"> {{customer.street}} {{customer.barangay_text}} , {{customer.city_text}} {{customer.province_text}}  <span name="region_text" id="region_text" >{{customer.region_text}}</span> ({{customer.zipcode}})</h6>
		<h5 class="text-secondary"> <label>Additional Address Info: <span class=""></span></label>{{customer.detailed_address}} </h5>
	<br>
	<hr>
	<div class="container bg-color-primary">
		<h2>Total: ₱{{total_price}}0</h2>
	<div class="text-center">
		<div class="btn btn-success btn-primary rounded">
			<a class="btn btn-success btn-primary rounded"  href="{%url 'payment'%}"><span "text-center btn btn-success btn-lg">Proceed To Payment</span></a>	
		</div>
		
	</div>
	</div>
	</div>
</form>
{%else%}
<br><br>
<h1 style="text-align:center; color:red;"> First Add Product In Cart </h1>

<br><br><br><br><br><br><br><br><br><br>
{%endif%}

{% endblock content %}
