{% extends 'my-profile-navbar.html' %}
{% load static %}

{%block title%}FleekyHub{%endblock%}
{% load widget_tweaks %}
{%block content%}
<div class="container">
    <br>
    <hr>
</div>
    <!-- USER PROFILE -->
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
              <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="{%url 'customer-home'%}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{%url 'my-profile'%}">My Profile</a></li>
                  <li class="breadcrumb-item"><a href="{%url 'edit-profile'%}">Edit Profile</a></li>
                  <li class="breadcrumb-item"><a href="{%url 'my-order'%}">Track orders</a></li>
                </ol>
              </nav>
            </div>
          </div>
      
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container register-form">
                    <div class="form">
                        <div class="note">
                            <p>EDIT PROFILE</p>
                        </div>
                        <div class="form-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field userForm.username class="form-control" placeholder="Username" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.email class="form-control" placeholder="Email" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field userForm.password class="form-control" placeholder="Password" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.region class="form-control" placeholder="Region" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.province class="form-control" placeholder="Province" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.barangay class="form-control" placeholder="barangay" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.city class="form-control" placeholder="City" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.zipcode class="form-control" placeholder="Zip Code" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.street class="form-control" placeholder="Street" %}
                                    </div>
                                    <div class="form-group">
                                        {% render_field customerForm.detailed_address class="form-control" placeholder="Detailed Address" %}
                                    </div>
                                    
                                      
                                   
                                </div>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </form>
            <center><button class="g-recaptcha btn btn-primary btn-lg ms-2" 
                data-sitekey="6LcideUkAAAAAFkXUDHfXl1VoNSoKg_EHvhrw712" 
                data-callback='onSubmit' 
                data-action='submit'>Edit</button></center>
          </div>
        </div>
         
          </div>
        </div>
      </section>

      <!--END OF USER PROFILE-->



{% endblock content %}
